# Cache size
-size (bytes) 32768

# To model Fully Associative cache, set associativity to zero
-associativity 2

# Technology Node
-technology (u) 0.022


# can be (itrs-hp, itrs-lstp, itrs-lop, lp-dram, comm-dram)
-Data array cell type - "itrs-hp"

-Data array peripheral type - "itrs-hp"

-Tag array cell type - "itrs-hp"

-Tag array peripheral type - "itrs-hp"

# fast - data and tag access happen in parallel
# sequential - data array is accessed after accessing the tag array
# normal - data array lookup and tag access happen in parallel
#          final data block is broadcasted in data array h-tree 
#          after getting the signal from the tag array
-access mode (normal, sequential, fast) - "fast"

-Power Gating - "false"

# Line size
-block size (bytes) 64

-read-write port 1
-exclusive read port 0
-exclusive write port 0
-single ended read ports 0
-search port 1

# Multiple banks connected using a bus
-UCA bank count 1

# Customized VDD; Default means using ITRS defined value.
-hp Vdd (V) "default"
-lstp Vdd (V) "default"
-lop Vdd (V) "default"

# whether to use long (10% ) channel devices ("true" or "false"， when "true" assuming 90% of the device (non time critical) can be long channel device)
-Long channel devices - "false"

# Bus width include data bits and address bits required by the decoder
-output/input bus width 512

// 300-400 in steps of 10
-operating temperature (K) 360

# Type of memory - cache (with a tag array) or ram (scratch ram similar to a register file) 
# or main memory (no tag array and every access will happen at a page granularity Ref: CACTI 5.3 report)
-cache type "cache"

# to model special structure like branch target buffers, directory, etc. 
# change the tag size parameter
# if you want cacti to calculate the tagbits, set the tag size to "default"
-tag size (b) "default"

# Set optimize tag to ED or ED^2 to obtain a cache configuration optimized for
# energy-delay or energy-delay sq. product
# Note: Optimize tag will disable weight or deviate values mentioned above
# Set it to NONE to let weight and deviate values determine the 
# appropriate cache configuration
-Optimize ED or ED^2 (ED, ED^2, NONE): "ED^2"

-Cache model (NUCA, UCA)  - "UCA"

# DESIGN OBJECTIVE for UCA (or banks in NUCA)
-design objective (weight delay, dynamic power, leakage power, cycle time, area) 0:0:0:100:0

# Percentage deviation from the minimum value 
# Ex: A deviation value of 10:1000:1000:1000:1000 will try to find an organization
# that compromises at most 10% delay. 
# NOTE: Try reasonable values for % deviation. Inconsistent deviation
# percentage values will not produce any valid organizations. For example,
# 0:0:100:100:100 will try to identify an organization that has both
# least delay and dynamic power. Since such an organization is not possible, CACTI will
# throw an error. Refer CACTI-6 Technical report for more details
-deviate (delay, dynamic power, leakage power, cycle time, area) 20:100000:100000:100000:100000

-page size (bits) 8192 
-burst length 8
-internal prefetch width 8

-Add ECC - "false"

-Print level (DETAILED, CONCISE) - "DETAILED"

-Print input parameters - "true"
